a{color: black; }
#demo{text-align: left; -webkit-column-count:3 ; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3; margin-left: -35px; width:100%; margin-top:90px;}
h1{text-align:center; background: white; padding:20px;  width:100%; position:fixed; margin-top:-90px; margin-left:-10px;}
li{background:white; padding:20px; margin-left: 45px; margin-bottom: 5px; }
li:first-child { 
    margin-top:-18px;
}
body{background: 	#F8F8F8;}
ol{list-style-type: upper-roman;}
img{width:100%; }



@media only screen and (max-width: 1000px) {
	#demo{text-align: left; -webkit-column-count:2 ; /* Chrome, Safari, Opera */
		-moz-column-count: 2; /* Firefox */
		column-count: 2;  }
	
}
